<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Drive</title>
    <link rel="stylesheet" href="/static/styles/drive.css">
    <link rel="manifest" href="/manifest.webmanifest">
</head>

<div class="topNav">
    <div style="display: flex; justify-content: flex-start; align-items: center; gap: 80px; margin-left: 40px;">
        <svg onclick="on_click_open_sidebar()" xmlns="http://www.w3.org/2000/svg" fill="white"
             class="bi bi-list addButtonSVG"
             viewBox="0 0 448 512">
            <path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/>
        </svg>
        {% if request_folder == "" %}
        <span class="folderPathFont" style="color: white;">/</span>
        {% else %}
        <span class="folderPathFont" style="color: white; max-width: 80%; overflow: hidden">{{request_folder}}</span>
        {% endif %}
    </div>
    <div class="press-hover" id="add_button" onclick="on_click_add_button()"
         style="margin-right: 40px; padding: 25px; display: flex; justify-content: flex-end; align-items: center;">
        <svg xmlns="http://www.w3.org/2000/svg" fill="white" class="bi bi-plus addButtonSVG"
             viewBox="0 0 448 512" style="width: 100%; display: flex; justify-content: flex-end; align-items: center;">
            <path fill-rule="evenodd"
                  d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
        </svg>
    </div>
</div>

<body>

<div class="modal" onclick="on_modal_click(event)">
    <div class="modalContent" id="modalContent">

    </div>
</div>

<div onclick="click_in_center(event)" ondrop="on_drop(event, '{{request_folder}}')" class="center">
    {% for element in directory %}
    {% if "." in element %}
    {% if "png" in element.lower() or "jpg" in element.lower() or "jpeg" in element.lower() or "heic" in element.lower()
    %}
    <div class="element higherElement">
        {% else %}
        <div class="element">
            {% endif %}
            <div onclick="on_click_file('{{request_folder}}', '{{element}}')"
                 style="display: flex; justify-content: flex-start; align-items: center; gap: 20px; margin-left: 20px; max-width: 80%; width: 80%">
                {% if ".png" in element.lower() or ".jpg" in element.lower() or ".jpeg" in element.lower() %}
                <svg xmlns="http://www.w3.org/2000/svg" fill="#18a8ff"
                     class="bi bi-file-earmark-fill folderIconSVG" viewBox="0 0 384 512">
                    <path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM64 256a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm152 32c5.3 0 10.2 2.6 13.2 6.9l88 128c3.4 4.9 3.7 11.3 1 16.5s-8.2 8.6-14.2 8.6H216 176 128 80c-5.8 0-11.1-3.1-13.9-8.1s-2.8-11.2 .2-16.1l48-80c2.9-4.8 8.1-7.8 13.7-7.8s10.8 2.9 13.7 7.8l12.8 21.4 48.3-70.2c3-4.3 7.9-6.9 13.2-6.9z"/>
                </svg>
                {% elif ".zip" in element.lower() %}
                <svg xmlns="http://www.w3.org/2000/svg" fill="#18a8ff"
                     class="bi bi-file-earmark-fill folderIconSVG" viewBox="0 0 384 512">
                    <path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM96 48c0-8.8 7.2-16 16-16h32c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16zm0 64c0-8.8 7.2-16 16-16h32c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16zm0 64c0-8.8 7.2-16 16-16h32c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16zm-6.3 71.8c3.7-14 16.4-23.8 30.9-23.8h14.8c14.5 0 27.2 9.7 30.9 23.8l23.5 88.2c1.4 5.4 2.1 10.9 2.1 16.4c0 35.2-28.8 63.7-64 63.7s-64-28.5-64-63.7c0-5.5 .7-11.1 2.1-16.4l23.5-88.2zM112 336c-8.8 0-16 7.2-16 16s7.2 16 16 16h32c8.8 0 16-7.2 16-16s-7.2-16-16-16H112z"/>
                </svg>
                {% elif ".txt" in element.lower() or ".java" in element.lower() or ".json" in element.lower() or ".py"
                in
                element.lower() or ".class" in element.lower() or ".c" in element.lower() %}
                <svg xmlns="http://www.w3.org/2000/svg" fill="#18a8ff"
                     class="bi bi-file-earmark-fill folderIconSVG" viewBox="0 0 384 512">
                    <path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM153 289l-31 31 31 31c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0L71 337c-9.4-9.4-9.4-24.6 0-33.9l48-48c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9zM265 255l48 48c9.4 9.4 9.4 24.6 0 33.9l-48 48c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l31-31-31-31c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0z"/>
                </svg>
                {% elif ".mp3" in element.lower() or ".flac" in element.lower() or ".wav" in element.lower() %}
                <svg xmlns="http://www.w3.org/2000/svg" fill="#18a8ff"
                     class="bi bi-file-earmark-fill folderIconSVG" viewBox="0 0 384 512">
                    <path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zm2 226.3c37.1 22.4 62 63.1 62 109.7s-24.9 87.3-62 109.7c-7.6 4.6-17.4 2.1-22-5.4s-2.1-17.4 5.4-22C269.4 401.5 288 370.9 288 336s-18.6-65.5-46.5-82.3c-7.6-4.6-10-14.4-5.4-22s14.4-10 22-5.4zm-91.9 30.9c6 2.5 9.9 8.3 9.9 14.8V400c0 6.5-3.9 12.3-9.9 14.8s-12.9 1.1-17.4-3.5L113.4 376H80c-8.8 0-16-7.2-16-16V312c0-8.8 7.2-16 16-16h33.4l35.3-35.3c4.6-4.6 11.5-5.9 17.4-3.5zm51 34.9c6.6-5.9 16.7-5.3 22.6 1.3C249.8 304.6 256 319.6 256 336s-6.2 31.4-16.3 42.7c-5.9 6.6-16 7.1-22.6 1.3s-7.1-16-1.3-22.6c5.1-5.7 8.1-13.1 8.1-21.3s-3.1-15.7-8.1-21.3c-5.9-6.6-5.3-16.7 1.3-22.6z"/>
                </svg>
                {% elif ".mp4" in element.lower() or ".mov" in element.lower() or ".mpeg4" in element.lower() %}
                <svg xmlns="http://www.w3.org/2000/svg" fill="#18a8ff"
                     class="bi bi-file-earmark-fill folderIconSVG" viewBox="0 0 384 512">
                    <path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM64 288c0-17.7 14.3-32 32-32h96c17.7 0 32 14.3 32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V288zM300.9 397.9L256 368V304l44.9-29.9c2-1.3 4.4-2.1 6.8-2.1c6.8 0 12.3 5.5 12.3 12.3V387.7c0 6.8-5.5 12.3-12.3 12.3c-2.4 0-4.8-.7-6.8-2.1z"/>
                </svg>
                {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" fill="#18a8ff"
                     class="bi bi-file-earmark-fill folderIconSVG" viewBox="0 0 384 512">
                    <path d="M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128z"/>
                </svg>
                {% endif %}

                {% if "png" in element.lower() or "jpg" in element.lower() or "jpeg" in element.lower() %}
                <img loading="lazy" src="/drive/getfile?file={{request_folder}}/{{element}}&scale_down=true">
                {% endif %}
                <span style="max-width: 60%; overflow: hidden; white-space: nowrap">{{element}}</span>
            </div>
            <div class="press-hover" onclick="on_click_edit('{{request_folder}}', '{{element}}')"
                 style="height: 100%; margin-right: 40px; min-width: 10%; display: flex; justify-content: flex-end; align-items: center;">
                <button id="edit_x"
                        style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; background-color: transparent; border: 0;">
                    <svg id="edit_x"
                         xmlns="http://www.w3.org/2000/svg" fill="white"
                         class="bi bi-three-dots-vertical editButtonSVG" viewBox="0 0 128 512"
                         style="width: 100%; display: flex; justify-content: flex-end; align-items: center;">
                        <path id="edit_x"
                              d="M64 360a56 56 0 1 0 0 112 56 56 0 1 0 0-112zm0-160a56 56 0 1 0 0 112 56 56 0 1 0 0-112zM120 96A56 56 0 1 0 8 96a56 56 0 1 0 112 0z"/>
                    </svg>
                </button>
            </div>
        </div>
        {% else %}
        <div class="element">
            <div onclick="on_click_folder('{{request_folder}}', '{{element}}')"
                 style="display: flex; justify-content: flex-start; align-items: center; gap: 20px; padding: 20px; max-width: 80%; width: 80%">
                <svg fill="#18a8ff" class="bi bi-folder-fill folderIconSVG"
                     viewBox="0 0 512 512">
                    <path d="M64 480H448c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H288c-10.1 0-19.6-4.7-25.6-12.8L243.2 57.6C231.1 41.5 212.1 32 192 32H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64z"/>
                </svg>
                <span style="max-width: 70%; overflow: hidden; white-space: nowrap">{{element}}</span>
            </div>
            <div class="press-hover" onclick="on_click_edit('{{request_folder}}', '{{element}}')"
                 style="height: 100%; margin-right: 40px; min-width: 10%; display: flex; justify-content: flex-end; align-items: center;">
                <button id="edit_x"
                        style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; background-color: transparent; border: 0;">
                    <svg id="edit_x"
                         xmlns="http://www.w3.org/2000/svg" fill="white"
                         class="bi bi-three-dots-vertical editButtonSVG" viewBox="0 0 128 512"
                         style="width: 100%; display: flex; justify-content: flex-end; align-items: center;">
                        <path id="edit_x"
                              d="M64 360a56 56 0 1 0 0 112 56 56 0 1 0 0-112zm0-160a56 56 0 1 0 0 112 56 56 0 1 0 0-112zM120 96A56 56 0 1 0 8 96a56 56 0 1 0 112 0z"/>
                    </svg>
                </button>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

</body>

<div class="bottomNav">
    <button class="bottomNavButton press-hover">
        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-folder" fill="#6752d1"
             viewBox="0 0 512 512">
            <path d="M0 96C0 60.7 28.7 32 64 32H196.1c19.1 0 37.4 7.6 50.9 21.1L289.9 96H448c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM64 80c-8.8 0-16 7.2-16 16V416c0 8.8 7.2 16 16 16H448c8.8 0 16-7.2 16-16V160c0-8.8-7.2-16-16-16H286.6c-10.6 0-20.8-4.2-28.3-11.7L213.1 87c-4.5-4.5-10.6-7-17-7H64z"/>
        </svg>
        <span style="color: #6752d1">Files</span>
    </button>
    <button onclick="on_click_share_in_bottom_nav()" class="bottomNavButton press-hover">
        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-link-45deg" viewBox="0 0 640 512"
             fill="white">
            <path d="M579.8 267.7c56.5-56.5 56.5-148 0-204.5c-50-50-128.8-56.5-186.3-15.4l-1.6 1.1c-14.4 10.3-17.7 30.3-7.4 44.6s30.3 17.7 44.6 7.4l1.6-1.1c32.1-22.9 76-19.3 103.8 8.6c31.5 31.5 31.5 82.5 0 114L422.3 334.8c-31.5 31.5-82.5 31.5-114 0c-27.9-27.9-31.5-71.8-8.6-103.8l1.1-1.6c10.3-14.4 6.9-34.4-7.4-44.6s-34.4-6.9-44.6 7.4l-1.1 1.6C206.5 251.2 213 330 263 380c56.5 56.5 148 56.5 204.5 0L579.8 267.7zM60.2 244.3c-56.5 56.5-56.5 148 0 204.5c50 50 128.8 56.5 186.3 15.4l1.6-1.1c14.4-10.3 17.7-30.3 7.4-44.6s-30.3-17.7-44.6-7.4l-1.6 1.1c-32.1 22.9-76 19.3-103.8-8.6C74 372 74 321 105.5 289.5L217.7 177.2c31.5-31.5 82.5-31.5 114 0c27.9 27.9 31.5 71.8 8.6 103.9l-1.1 1.6c-10.3 14.4-6.9 34.4 7.4 44.6s34.4 6.9 44.6-7.4l1.1-1.6C433.5 260.8 427 182 377 132c-56.5-56.5-148-56.5-204.5 0L60.2 244.3z"/>
        </svg>
        <span style="color: white;">Shared</span>
    </button>
</div>


<div class="addMenu">
    <div style="width: 90%;  display: flex; justify-content: flex-start; align-items: center; gap: 40px; margin-left: 40px;">
        <span style="color: white;" class="folderPathFont">In</span>
        {% if request_folder == "" %}
        <span style="color: white;" class="folderPathFont">"/"</span>
        {% else %}
        <span style="color: white;" class="folderPathFont">"{{request_folder}}"</span>
        {% endif %}
    </div>
    <div onclick="on_click_new_folder_in_add_menu('{{request_folder}}')"
         style="width: 90%; display: flex; justify-content: flex-start; align-items: center; gap: 40px; margin-left: 40px;">
        <svg xmlns="http://www.w3.org/2000/svg" fill="white" class="bi bi-folder-plus editMenuSVG"
             viewBox="0 0 512 512">
            <path d="M512 416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96C0 60.7 28.7 32 64 32H192c20.1 0 39.1 9.5 51.2 25.6l19.2 25.6c6 8.1 15.5 12.8 25.6 12.8H448c35.3 0 64 28.7 64 64V416zM232 376c0 13.3 10.7 24 24 24s24-10.7 24-24V312h64c13.3 0 24-10.7 24-24s-10.7-24-24-24H280V200c0-13.3-10.7-24-24-24s-24 10.7-24 24v64H168c-13.3 0-24 10.7-24 24s10.7 24 24 24h64v64z"/>
        </svg>
        <span style="color: white;" class="folderPathFont">New Folder</span>
    </div>
    <div style="width: 90%; display: flex; justify-content: flex-start; align-items: center; gap: 40px; margin-left: 40px;">
        <svg xmlns="http://www.w3.org/2000/svg" fill="white"
             class="bi bi-file-earmark-plus editMenuSVG" viewBox="0 0 576 512">
            <path d="M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384v38.6C310.1 219.5 256 287.4 256 368c0 59.1 29.1 111.3 73.7 143.3c-3.2 .5-6.4 .7-9.7 .7H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128zm48 96a144 144 0 1 1 0 288 144 144 0 1 1 0-288zm16 80c0-8.8-7.2-16-16-16s-16 7.2-16 16v48H368c-8.8 0-16 7.2-16 16s7.2 16 16 16h48v48c0 8.8 7.2 16 16 16s16-7.2 16-16V384h48c8.8 0 16-7.2 16-16s-7.2-16-16-16H448V304z"/>
        </svg>

        <label style="color: white;" class="folderPathFont">
            Upload File
            <input onchange="on_change_upload_file('{{request_folder}}')" id="input_file" type="file"
                   style="display: none" multiple/>
        </label>
    </div>
</div>

<div class="editMenu">

</div>

<div class="sideBar" id="sideBar">
    <button onclick="logout()" class="folderPathFont buttonSideBar"
            style="margin-top: 40px; background-color: #6752d1; color: white; border: 0; border-radius: 30px; width: 90%; display: flex; justify-content: space-around; align-items: center;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="editMenuSVG" fill="white">
            <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"/>
        </svg>
        <span class="folderPathFont">Logout</span>
    </button>
</div>

<script type="text/javascript" src="/static/scripts/drive.js"></script>

</html>