<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/styles/login.css">
    <link rel="icon" href="/static/Logo.png">
</head>
<body>
<div class="main">
    <span class="heading">Login</span>
    <input id="input_mail" type="text" placeholder="mail"/>
    <input id="input_password" type="password" placeholder="password"/>
    <button onclick="on_click_login()">Login</button>
</div>
</body>

<script type="text/javascript" src="/static/scripts/login.js"></script>

</html>