<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/styles/login.css">
</head>
<body>
    <span class="heading">Login</span>
    <input id="input_mail" type="text" placeholder="mail" />
    <input id="input_password" type="password" placeholder="password"/>
    <button onclick="on_click_login()">Login</button>
    <span class="heading" style="color: red;">This Website is in DEV</span>
</body>

<script type="text/javascript" src="/static/scripts/login.js"></script>

</html>