<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Drive</title>
    <link rel="stylesheet" href="/static/styles/drive.css">
    <link rel="manifest" href="/manifest.webmanifest">
</head>

<div class="topNav">
    <div style="display: flex; justify-content: flex-start; align-items: center; gap: 80px; margin-left: 40px;">
        <svg onclick="on_click_download('{{token}}')" xmlns="http://www.w3.org/2000/svg" fill="white" class="bi bi-cloud-arrow-down addButtonSVG" viewBox="0 0 640 512">
            <path d="M144 480C64.5 480 0 415.5 0 336c0-62.8 40.2-116.2 96.2-135.9c-.1-2.7-.2-5.4-.2-8.1c0-88.4 71.6-160 160-160c59.3 0 111 32.2 138.7 80.2C409.9 102 428.3 96 448 96c53 0 96 43 96 96c0 12.2-2.3 23.8-6.4 34.6C596 238.4 640 290.1 640 352c0 70.7-57.3 128-128 128H144zm79-167l80 80c9.4 9.4 24.6 9.4 33.9 0l80-80c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-39 39V184c0-13.3-10.7-24-24-24s-24 10.7-24 24V318.1l-39-39c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9z"/>
        </svg>
        {% if request_folder == "" %}
        <span class="folderPathFont" style="color: white;">/</span>
        {% else %}
        <span class="folderPathFont" style="color: white;">{{request_folder}}</span>
        {% endif %}
    </div>
</div>

<body>

<div class="modal">
    <div class="modalContent">

    </div>
</div>

<div onclick="click_in_center(event)" ondrop="on_drop(event, '{{request_folder}}')" class="center">
    {% for element in directory %}
    {% if "." in element %}
    {% if "png" in element.lower() or "jpg" in element.lower() or "jpeg" in element.lower() or "heic" in element.lower() %}
    <div class="element higherElement">
        {% else %}
        <div class="element">
            {% endif %}
            <div onclick="on_click_file('{{request_folder}}', '{{element}}', '{{token}}')"
                 style="display: flex; justify-content: flex-start; align-items: center; gap: 20px; margin-left: 20px; max-width: 80%; width: 80%">
                 {% if "png" in element.lower() or "jpg" in element.lower() or "jpeg" in element.lower() %}
                 <svg xmlns="http://www.w3.org/2000/svg" fill="#18a8ff"
                          class="bi bi-file-earmark-fill folderIconSVG" viewBox="0 0 384 512">
                          <path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM64 256a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm152 32c5.3 0 10.2 2.6 13.2 6.9l88 128c3.4 4.9 3.7 11.3 1 16.5s-8.2 8.6-14.2 8.6H216 176 128 80c-5.8 0-11.1-3.1-13.9-8.1s-2.8-11.2 .2-16.1l48-80c2.9-4.8 8.1-7.8 13.7-7.8s10.8 2.9 13.7 7.8l12.8 21.4 48.3-70.2c3-4.3 7.9-6.9 13.2-6.9z"/>
                     </svg>
                 {% elif "zip" in element.lower() %}
                 <svg xmlns="http://www.w3.org/2000/svg" fill="#18a8ff"
                          class="bi bi-file-earmark-fill folderIconSVG" viewBox="0 0 384 512">
                          <path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM96 48c0-8.8 7.2-16 16-16h32c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16zm0 64c0-8.8 7.2-16 16-16h32c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16zm0 64c0-8.8 7.2-16 16-16h32c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16zm-6.3 71.8c3.7-14 16.4-23.8 30.9-23.8h14.8c14.5 0 27.2 9.7 30.9 23.8l23.5 88.2c1.4 5.4 2.1 10.9 2.1 16.4c0 35.2-28.8 63.7-64 63.7s-64-28.5-64-63.7c0-5.5 .7-11.1 2.1-16.4l23.5-88.2zM112 336c-8.8 0-16 7.2-16 16s7.2 16 16 16h32c8.8 0 16-7.2 16-16s-7.2-16-16-16H112z"/>
                     </svg>
                 {% elif "txt" in element.lower() or "java" in element.lower() or "json" in element.lower() or "py" in element.lower() or "class" in element.lower() or "cs" in element.lower() or "c" in element.lower() or "cpp" in element.lower() %}
                 <svg xmlns="http://www.w3.org/2000/svg" fill="#18a8ff"
                          class="bi bi-file-earmark-fill folderIconSVG" viewBox="0 0 384 512">
                          <path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM153 289l-31 31 31 31c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0L71 337c-9.4-9.4-9.4-24.6 0-33.9l48-48c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9zM265 255l48 48c9.4 9.4 9.4 24.6 0 33.9l-48 48c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l31-31-31-31c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0z"/>
                     </svg>
                 {% elif "mp3" in element.lower() or "flac" in element.lower() or "wav" in element.lower() %}
                 <svg xmlns="http://www.w3.org/2000/svg" fill="#18a8ff"
                          class="bi bi-file-earmark-fill folderIconSVG" viewBox="0 0 384 512">
                          <path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM153 289l-31 31 31 31c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0L71 337c-9.4-9.4-9.4-24.6 0-33.9l48-48c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9zM265 255l48 48c9.4 9.4 9.4 24.6 0 33.9l-48 48c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l31-31-31-31c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0z"/>
                 </svg>
                 {% elif "mp4" in element.lower() or "mov" in element.lower() or "mpeg4" in element.lower() %}
                 <svg xmlns="http://www.w3.org/2000/svg" fill="#18a8ff"
                          class="bi bi-file-earmark-fill folderIconSVG" viewBox="0 0 384 512">
                          <path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM64 288c0-17.7 14.3-32 32-32h96c17.7 0 32 14.3 32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V288zM300.9 397.9L256 368V304l44.9-29.9c2-1.3 4.4-2.1 6.8-2.1c6.8 0 12.3 5.5 12.3 12.3V387.7c0 6.8-5.5 12.3-12.3 12.3c-2.4 0-4.8-.7-6.8-2.1z"/>
                 </svg>
                 {% else %}
                 <svg xmlns="http://www.w3.org/2000/svg" fill="#18a8ff"
                          class="bi bi-file-earmark-fill folderIconSVG" viewBox="0 0 384 512">
                          <path d="M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128z"/>
                     </svg>
                 {% endif %}

                {% if "png" in element.lower() or "jpg" in element.lower() or "jpeg" in element.lower() %}
                <img loading="lazy" src="/drive/sharefolder/file?file={{request_folder}}/{{element}}&scale_down=true&token={{token}}">
                {% endif %}
                <span style="max-width: 60%; overflow: hidden; white-space: nowrap">{{element}}</span>
            </div>

        </div>
        {% else %}
        <div class="element">
            <div onclick="on_click_folder('{{request_folder}}', '{{element}}', '{{token}}')"
                 style="display: flex; justify-content: flex-start; align-items: center; gap: 20px; padding: 20px; max-width: 80%; width: 80%">
                 <svg fill="#18a8ff" class="bi bi-folder-fill folderIconSVG"
                 viewBox="0 0 512 512">
                    <path d="M64 480H448c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H288c-10.1 0-19.6-4.7-25.6-12.8L243.2 57.6C231.1 41.5 212.1 32 192 32H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64z"/>
                </svg>
                <span style="max-width: 70%; overflow: hidden; white-space: nowrap">{{element}}</span>
            </div>

        </div>
        {% endif %}
        {% endfor %}
    </div>

</body>




<script type="text/javascript" src="/static/scripts/drive.js"></script>
<script type="text/javascript" src="/static/scripts/share_only.js"></script>

</html>