<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Drive</title>
    <link rel="stylesheet" href="/static/styles/drive.css">
    <link rel="manifest" href="/manifest.webmanifest">
</head>

<div class="topNav">
    <div style="display: flex; justify-content: flex-start; align-items: center; gap: 80px; margin-left: 40px;">
        <svg onclick="on_click_open_sidebar()" xmlns="http://www.w3.org/2000/svg" fill="white"
             class="bi bi-list addButtonSVG"
             viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
        </svg>
        {% if request_folder == "" %}
        <span class="folderPathFont" style="color: white;">/</span>
        {% else %}
        <span class="folderPathFont" style="color: white;">{{request_folder}}</span>
        {% endif %}
    </div>
    <div id="add_button" onclick="on_click_add_button()" style="margin-right: 40px; color: white">
        <svg xmlns="http://www.w3.org/2000/svg" fill="white" class="bi bi-plus addButtonSVG"
             viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
        </svg>
    </div>
</div>

<body>

<div class="modal">
    <div class="modalContent">

    </div>
</div>

<div onclick="click_in_center(event)" ondrop="on_drop(event, '{{request_folder}}')" class="center">
    {% for element in directory %}
    {% if "." in element %}
    {% if "png" in element.lower() or "jpg" in element.lower() or "jpeg" in element.lower() or "heic" in element.lower() %}
    <div class="element higherElement">
        {% else %}
        <div class="element">
            {% endif %}
            <div onclick="on_click_file('{{request_folder}}', '{{element}}')"
                 style="display: flex; justify-content: flex-start; align-items: center; gap: 20px; margin-left: 20px; max-width: 80%; width: 80%">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#18a8ff"
                     class="bi bi-file-earmark-fill folderIconSVG" viewBox="0 0 16 16">
                    <path d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2m5.5 1.5v2a1 1 0 0 0 1 1h2z"/>
                </svg>

                {% if "png" in element.lower() or "jpg" in element.lower() or "jpeg" in element.lower() %}
                <img loading="lazy" src="/drive/getfile?file={{request_folder}}/{{element}}&scale_down=true">
                {% endif %}
                <span style="max-width: 60%; overflow: hidden; white-space: nowrap">{{element}}</span>
            </div>
            <div onclick="on_click_edit('{{request_folder}}', '{{element}}')" style="padding-right: 40px;">
                <svg onclick="on_click_edit('{{request_folder}}', '{{element}}')" id="edit_x"
                     xmlns="http://www.w3.org/2000/svg" fill="white"
                     class="bi bi-three-dots-vertical editButtonSVG" viewBox="0 0 16 16">
                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                </svg>
            </div>
        </div>
        {% else %}
        <div class="element">
            <div onclick="on_click_folder('{{request_folder}}', '{{element}}')"
                 style="display: flex; justify-content: flex-start; align-items: center; gap: 20px; padding: 20px; max-width: 80%; width: 80%">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#18a8ff" class="bi bi-folder-fill folderIconSVG"
                     viewBox="0 0 16 16">
                    <path d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3m-8.322.12q.322-.119.684-.12h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981z"/>
                </svg>
                <span style="max-width: 70%; overflow: hidden; white-space: nowrap">{{element}}</span>
            </div>
            <div onclick="on_click_edit('{{request_folder}}', '{{element}}')" style="padding-right: 40px;">
                <svg onclick="on_click_edit('{{request_folder}}', '{{element}}')" id="edit_x"
                     xmlns="http://www.w3.org/2000/svg" fill="white"
                     class="bi bi-three-dots-vertical editButtonSVG" viewBox="0 0 16 16">
                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                </svg>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

</body>




<script type="text/javascript" src="/static/scripts/drive.js"></script>
<script type="text/javascript" src="/static/scripts/share_only.js"></script>

</html>